/* Add your custom styles here */
* {
    padding: 0;
    margin: 2;
    box-sizing: border-box;
}

body {
    background-color: #262932;
}

.header {
    background-color: #262932;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__image {
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Add spacing between the image and text */
}

.logo__text {
    font-size: 20px;
    font-weight: bold;
    color: #f2f2f2;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.navigation__item {
    margin-right: 10px;
}

.navigation__link {
    color: #f2f2f2;
    text-decoration: none;
}

.navigation__link:hover {
    color: #ccc;
}

.search-bar__input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 50px;
}

.search-bar__button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#tradingview_1bf9d {
    width: 70%;
    height: 80vh;
}

/* Custom CSS for table styling */
#trading-pair-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width as needed */
    margin-top: 100px; /* Add margin-top to create space */
    margin-right: 5em;
}

#trading-pair-list table {
    border-collapse: collapse;
    width: 100%;
}

#trading-pair-list th {
    text-align: left;
    padding: 8px;
    background-color: #262932;
    color: #262932;
}

#trading-pair-list td {
    text-align: left;
    padding: 8px;
    background-color: #262932;
    color: beige;
}

#trading-pair-list th {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.order-book-container {
    flex: 1;
}

#order-book {
    border-collapse: collapse;
}

#order-book th {
    padding: 8px;
    text-align: center;
    color: #262932;
}

#order-book td {
    padding: 8px;
    text-align: center;
    color: beige;
}

#order-book th {
    background-color: #f2f2f2;
}

.no-orders-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 350px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-right: 3em;
    border-radius: 4px;
    background-color: #262932;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.order-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #262932;
}

.order-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.order-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #f2f2f2;
}

.order-form select,
.order-form input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.order-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-form button:hover {
    background-color: #0056b3;
}

.order-form input[type="text"]::placeholder {
    color: #999;
}
